<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-apteligent"
    version="3.1.0">

    <name>Apteligent PhoneGap Plugin</name>

    <description>
      Apteligent's crash reporting and performance monitoring for iOS and Android.
    </description>

    <license>http://www.apache.org/licenses/LICENSE-2.0</license>

    <keywords>apteligent, crittercism, crash, analytics, monitor, apm, error, performance</keywords>

    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>

    <!-- JavaScript interface -->
    <js-module src="www/js/crittercism.js" name="CrittercismJSInterface">
        <clobbers target="window.Crittercism" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVCrittercism">
                <param name="ios-package" value="CDVCrittercism" />
                <param name="onload" value="true" />
            </feature>
            <plugin name="CDVCrittercism" value="CDVCrittercism"/>
        </config-file>

        <header-file src="platforms/ios/CDVCrittercism.h" />
        <source-file src="platforms/ios/CDVCrittercism.m" />

        <header-file src="platforms/ios/CrittercismSDK/CRFilter.h" />
        <header-file src="platforms/ios/CrittercismSDK/Crittercism.h" />
        <header-file src="platforms/ios/CrittercismSDK/CrittercismConfig.h" />
        <header-file src="platforms/ios/CrittercismSDK/CrittercismDelegate.h" />
        <header-file src="platforms/ios/CrittercismSDK/CrittercismLoggingLevel.h" />
        <source-file src="platforms/ios/CrittercismSDK/libCrittercism_v5_4_1.a" framework="true" />
        <source-file src="platforms/ios/CrittercismSDK/dsym_upload.sh" />

        <framework src="SystemConfiguration.framework" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CDVCrittercism">
                <param name="android-package" value="com.crittercism.plugin.CDVCrittercism" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="platforms/android/res/values/crittercism.xml" target-dir="res/values/" />

        <config-file target="AndroidManifest.xml" parent="/*">
            <!-- PhoneGap adds the INTERNET permission by itself -->
            <uses-permission android:name="android.permission.READ_LOGS"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.GET_TASKS"/>
        </config-file>

        <!-- copy Crittercism Lib -->
        <source-file src="platforms/android/CrittercismSDK/crittercism_v5_5_2_sdkonly_plugin.jar" target-dir="libs/" framework="true" />

        <!-- cordova plugin src files -->
        <source-file src="platforms/android/com/crittercism/plugin/CDVCrittercism.java" target-dir="src/com/crittercism/plugin/" />

    </platform>

</plugin>
